# Ignore everything
*

# But not these files...
!.gitignore
!*.yml
!*.yaml

# And not these directories...
!*/

# But still ignore these directories even if they contain .yml files
data/
mysql/
docker/ 